
.logo {
    text-transform: uppercase; /* Deixa o texto em letras maiúsculas */    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra leve ao texto */
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave */
}

.logo:hover {
    color: #6A5ACD; /* Altera a cor ao passar o mouse */
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Aumenta a sombra */
}

header{
    position: fixed; /* Fixa o header no topo da página */
    top: 0; /* Posiciona o header no topo */
    left: 0; /* Alinha o header à esquerda */
    width: 100%; /* Faz o header ocupar toda a largura da tela */
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
    background-color: #cbbbff; /* Cor de fundo do header */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para destaque */
}

.navbar-nav .nav-link {
    font-size: 1.2rem;  
}

.navbar .logo {
    margin-right: 15px; /* Espaçamento entre a logo e os links */
}

/* :hover  Adiciona um efeito de transição suave ao passar o mouse */   
.navbar-nav .nav-link:hover {
    color: #b45acd; /* Altera a cor ao passar o mouse */
    transform: scale(1.1); /* Adiciona sublinhado ao passar o mouse */
}
.footer {
    background-color: rgb(229, 200, 249);/* Cor de fundo do rodapé */
    color: black; /* Cor do texto */
    padding: 7px 0; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    font-size: 1.0rem; /* Tamanho da fonte */
    position: absolute; /* Footer no fluxo normal da página */
    width: 100%; /* Faz o footer ocupar toda a largura da tela */
    margin-top: auto; /* Empurra o footer para o final do conteúdo */
    margin: 0; /* Remove margens extras */
    left: 0; /* Garante alinhamento à esquerda */
}

.btn-custom {
    background-color: #6A5ACD; /* Cor de fundo personalizada */
    color: white; /* Cor do texto */
    font-size: 1.2rem; /* Aumenta o tamanho do texto */
    font-weight: bold; /* Deixa o texto em negrito */
    padding: 10px 20px; /* Ajusta o espaçamento interno */
    border: none; /* Remove a borda padrão */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    transition: all 0.3s ease; /* Adiciona uma transição suave */
    text-align: center; /* Centraliza o texto */
    white-space: nowrap; /* Impede que o texto quebre */
    width: 210px;
}

.btn-custom:hover {
    background-color: #483D8B; /* Cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
    color: #f8f9fa; /* Altera a cor do texto ao passar o mouse */
}



.btn-custom:focus, .btn-custom:active {
    background-color: #5A4EB7; /* Cor ao clicar ou focar */
    box-shadow: 0 0 0 0.2rem rgba(106, 90, 205, 0.5); /* Sombra ao focar */
    outline: none; /* Remove o contorno padrão */
}

.headerHome{
    margin-top:200px;
}

.conteinterCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 18px;
    margin-right: 18px;
}

.card {
    width: 15rem;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 50px; /* Espaçamento superior */
    margin-bottom: 50px; /* Espaçamento inferior */ 
}
.titleCard{
    text-align: center;
    font-weight: bold;
}

.infoVideo{
    width: 850px; 
    height: 550px;
    margin: 30px auto;
   margin-left: 250px;
}

.conteinerInfo{
    margin-top: 500px;
    align-items: center;
}

.infoTexto{
    width: 10%;
    padding: 50px; /* Adiciona espaçamento interno */
    margin-left: auto;
    box-sizing: border-box; /* Inclui o padding na largura total */
    text-align: justify; /* Justifica o texto */
    size: 50px;
}

.tituloTexto{
    font-size: 4rem; /* Tamanho da fonte do título */
    font-weight: bold; /* Deixa o título em negrito */
    margin-left: 500px;
}

.containerTitulo{
    display: flex;
    flex-wrap: wrap;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.card-img-top{
    width: 100%;
    height: 500px;
    object-fit: cover;   /* Corta a imagem para preencher o espaço sem distorcer */
}

.carousel-indicators [data-bs-target] {
   filter: invert(1);  
}

.dropdown-item {
    background-color:rgb(168, 110, 207);/* Opcional: fundo roxo claro para contraste */
    color: white;
}

.dropdown-menu {
    background-color: rgb(168, 110, 207); /* Fundo branco */
}

.dropdown-item:hover, .dropdown-item:focus {
    color: white !important; /* Letras roxas ao passar o mouse */
    background-color:  rgb(145, 66, 198); /* Fundo claro ao passar o mouse */
}

.nav-link.dropdown-toggle {
    color: white !important;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}
